<footer class="footer">
  <div class="text-center">
    <p>{{ gettext("footer_text") }}</p>
    <p>{{ gettext("footer_attribution") }} <a href="https://microlumin.pt" target="_blank">Microlumin</a>.</p>
  </div>
</footer>
