{% extends "layouts/dash.hbs" %}

{% block content %}
  <!-- Content here -->
  <div class="row">
    <div class="col-lg-6">
      <h3>{{ gettext("welcome_message") }}</h3>
      <p>{{ gettext("dashboard_content_description") }}</p>
    </div>
  </div>
{% endblock %}
